h1{
    color: white;
    background: rgba(0, 0, 0.0.5);
    width: 500px;
}
body{
    background:url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pxfuel.com%2Fen%2Fdesktop-wallpaper-jbhyx&psig=AOvVaw1nbOuQQrP_qJqLtpx0TGtM&ust=1710603991107000&source=images&cd=vfe&opi=89978449&ved=0CBYQjRxqFwoTCPiSyI3294QDFQAAAAAdAAAAABAG") ;
    background-repeat:cover ;
}
.name{
    justify-content: space-around;
    color: white;
    display: flex;
    background-color: rgba(0, 0, 0,0.5);

}
.ta{
    background: rgba(0, 0, 0,0.5);
    width: 1000px;
    height: 400px;
    margin: auto;
    margin-top: 3%;
    display: flex;
    justify-content: space-evenly;
    
}
img{
    width: 120px;
    height: 120px;
    justify-content: space-between;
    border-radius: 50% 0 50% 0;
    
}
